.container{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: green;
    z-index: 130;
}
.box{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
    z-index: 400;
}